/* Alice's CSS*/
.navbar {
	border: 2px, black;
}

/* Mike's CSS*/
html, body {
    height: 100%;
}

.bg-red {
	background-color: #C63D0F;
}

.white-text {
	color: white;
}

.row20px {
	padding-top: 20px;
	padding-bottom: 20px;
}


/* J. Stouts CSS*/


/* Ryan's CSS*/

footer {
	width: 100%;
	background-color:#222;
	padding: 60px 0px;
}
